#container{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3.5rem;
}

p{
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 400;
}
