h3 {
    font-size: 1.7rem;
}
span{
    font-style: italic;
    font-size: 1.2rem;
}

.biscuit, .biscuitedit {
    display: flex;
    align-items: center;
}
.controls, .biscuitedit {
    & > * {
        margin-left: 1rem;
    }
    button{
        padding: 0.2rem;
    }
}